*{
	box-sizing: border-box;
}

@font-face {
    font-family:"Gotham Pro";
    src: url(.\fonts\GothamProRegular\GothamProRegular.ttf); 
}


html, body {
	height: 100%;
	width: 100%;
}

.background{
	display: flex;
	justify-content: center;
	background: radial-gradient(150% 50%, #f6fbff, #daeeff);
	height: 100%;
	width: 100%;
}

.container{
	display: flex;
	width: 860px;
	height: 540px;
	margin: auto; 
}

.title{
	display: flex;
	position: absolute;
	padding-top: 50px;
	padding-left: 77px;
	padding-right: 770px;
	padding-bottom: 480px;
}

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	height: 11px;
	width: 360px;
	padding-top: 50px;
	padding-left: 384px;
	padding-right: 115px;
	padding-bottom: 476px;
	color: #000000;
	font-family: "Gotham Pro Light";
	font-size: 10px;
	font-weight: 300;
}

.name{
	display: flex;
	position: absolute;
	padding-top: 182px;
	padding-left: 108px;
	padding-right: 390px;
}

.text{
	display: flex;
	position: absolute;
	padding-top: 280px;
	padding-left: 108px;
	padding-right: 430px;
	color: #030608;
	font-family: "Gotham Pro";
	font-size: 14px;
	line-height: 1.5;
}

.logo{
	display: flex;
	position: absolute;
	padding-top: 468px;
	padding-left: 790px;
	padding-right: 54px;
	padding-bottom: 53px;

}

.bottom{
	display: flex;
	position: absolute;
	padding-top: 473px;
	padding-left: 550px;
	padding-bottom: 53px;
	padding-right: 82px;
	color: #030608;
	font-family: "Gotham Pro Light";
	font-size: 10px;
	font-weight: 300;
	letter-spacing: -0.05px;
}

.notebook{
	display: flex;
	position: absolute;
	padding-top: 170px;
	padding-left: 540px;
	padding-right: 90px;
	padding-bottom: 230px;
	z-index: 1;
}

.ipad{
	display: flex;
	position: absolute;
	padding-top: 250px;
	padding-left: 520px;
	padding-right: 200px;
	padding-bottom: 190px;
	z-index: 3;
}

.ipad-screen{
	display: flex;
	position: absolute;
	padding-top: 255px;
	padding-left: 531px;
	padding-right: 216px;
	padding-bottom: 198px;
	z-index: 4;
}

.notebook-screen{
	display: flex;
	position: absolute;
	padding-top: 178px;
	padding-left: 582px;
	padding-right: 130px;
	padding-bottom: 252px;
	z-index: 2;
}