
*{
  box-sizing: border-box;
  margin: 0;
}

html,body{
  height: 100%
}

.wrapper{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background:  #ffc0cb;
}

.buket{
  display: flex;
  justify-content:space-around;
  width: 100%;
}

.tsvetok{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.verh-tsvetka{
  display: flex;
  justify-content: center;
  height: 110px;
  width: 100px;
  position: relative;

}

.tulpan-top{
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid rgb(229, 85, 107);
}

.tulpan-bottom {
  width: 60px;
  border-bottom: 60px solid rgb(229, 85, 107);
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;}

.stebel{
  height: 200px;
  width: 4px;
  background-color: rgb(0,128,0);

}

.lepestok{
  position: absolute;
  animation-name: rotation-one;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes rotation-one{
  0% {transform:rotate(0deg);}
  50% {transform:rotate(10deg);}
  100% {transform:rotate(23deg);}
}
  
.lepestok-two{
  position: absolute;
  animation-name: rotation-two;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes rotation-two{
  0% {transform:rotate(0deg);}
  50% {transform:rotate(-10deg);}
  100% {transform:rotate(-23deg);}
}

.lepestok-three{
  position: absolute;

}

.text{
  color: white;
  margin-top: 200px;
  text-align: center;
  position: relative;
  font-size: 200px;
  font-family: 'Anton';
  text-transform: uppercase;
  letter-spacing: 12px;
  line-height: 150px;
}


