*{
box-sizing: border-box;
}

.body {
	background-color:#ad2be8;
}

.large-image {
	width: 100%; 
	height: 100%;
}

.cross {
	position: absolute;
	top: 64px;
	right: 98px;
}

.arrow {
	position: absolute;
	right: 97px;
	bottom: 40px;
}

.top {
	position: relative;
	background-image: url("../images/rectangle.png");
	background-size: cover;
	width: 100%;
	height: 636px;
}

.top-bottom { 
	display: flex;
	width: 100%;
	height: 95px;
	background-color: #bfe781;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin:0;
}

.rightgeneral {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin-left: 128px;
}

.leftgeneral {
	position: relative;
	display: flex;
	flex-direction: row;
	align-content: center;
	margin-right: 128px;
}


.right-text {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	font-size: 36px;
	letter-spacing: 1.6px;
	color: #000000;
}

.middle-text {
	display: flex;
	flex-direction: row;
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	font-size: 22px;
	letter-spacing: 1px;
	color: #000000;
	align-items: center;
	margin-left:380px;
}

.arrow-right {
	margin-left:10px;
	bottom:8px;
}

.arrow-left {
	margin-right:10px;
	bottom:8px;
}

.left-text {
	font-family:'Roboto', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	color:#ad2be8;
}

.number-arrows {
	position: absolute;
	left: 835px;
	right: 500px;
	bottom: 38px;
	top: 35px;
	font-family:'Roboto', sans-serif;
	font-weight: medium;
	font-size: 22px;
	letter-spacing: 1px;
	color:#000000;
}

.navigation-table {
	display: flex;
	flex-direction: row;
	height: 114px;
	width: 100%;
	background-color: #ad2be8;
	align-items: center;
	justify-content: center;
}

.t-b-text-left {
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff;
}

.t-b-text-middle {
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	font-size: 14px;
	letter-spacing: 1px;
	color: #bfe781;
}

.t-b-text-right {
	margin-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	font-size: 14px;
	letter-spacing: 1px;
	color: #bfe781;
}

.sheet {
	position: relative;
	top: 95px;
	height: 100%x;
	width: 100%;
	background-color:#ad2be8;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container {
	position: relative;
	margin:0;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: ;
	background-color:#ad2be8;
	padding-right: 98px;
	padding-left: 98px;
}

.container-item {
	width: 33.333%;
	height: 100%;
	padding-top-top: 40px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right:30px;
}

.container-item img {
	width: 100%;
	height: 100%
}

.container-item p {
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff;
	padding-top: 23px;
}

.bottom-top {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 95px;
	justify-content: space-evenly;
	align-items: center;
	background-color: #ad2be8;
}

.middle-text-down {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
	font-size: 22px;
	letter-spacing: 1px;
	align-items: center;
	padding-top: 70px;
	color: #000000;

}

.arrow-right-down {
	margin-left:10px;
	bottom:8px;

}

.arrow-left-down {
	margin-right: 10px;
	bottom:8px;
}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 278px;
	background-color: #ad2be8;
	justify-content: space-between;
	align-items: center;
}	

.logo {
	margin-top:70px; 
	width: 102px;
	height: 82px;
}

.text {
	margin-bottom: 26px;
	width:100;
	height:40px;
	padding-left: 98px;
	padding-right: 98px;
}

@media (max-width: 400px) {

	.container {
		flex-direction: column;
		padding-right: 5px;
		padding-left: 5px;
	}

	.container-item {
		width: 100%; 		
	}

	.cross {
		position: absolute;
		top: 21px;
		right: 8px;
	}

	.arrow {
		position: absolute;
		right: 8px;
		bottom: 21px;
	}

	.middle-text {
		display: none; 
	}

	.top {
		background-image: url("../images/rectangle-2.png");
		background-size: cover;
		height: 563px;
		overflow: auto;
	}

	.right-text {
		font-size: 24px;
		letter-spacing: 1.07px;
		font-weight: bold;
	}

	.rightgeneral {
		margin-left: 8px;
		margin-left: 30px;
	}

	.large-image{
		display: none;
	}

	.navigation-table{
		flex-direction: column;
		justify-content: space-evenly;
		align-self: flex-start;
		display: flex;
	}

	.t-b-text-left{
		align-self: flex-start;
		margin-left: 30px;
	}

	.t-b-text-middle{
		align-self: flex-start;
		margin-left: 30px;
	}

	.t-b-text-right{
		align-self: flex-start;
		margin-left: 30px;
	}

	.text{
		margin-bottom: 26px;
		width:320px;
		height:24px;
	}

	.leftgeneral{
		display: none;
	}
}

@media (min-width: 400px) and (max-width: 1200px)  {

.middle-text{
	margin-left: 128px;
}

}













