.grid {
  height: 800px;
  width: 800px;
  display: grid; 
  position: relative;
  grid-template-columns:repeat(17, 1fr);
  grid-template-rows:repeat(17, 1fr);
  grid-gap: 15px 15px; background: black;   
  
  grid-template-areas: 
  "AAAAA BBBBBB CCCCC D"
  "AAAAA BBBBBB CCCCC D"
  "EE FFFFFFFFFF GGGG D"
  "EE FFFFFFFFFF GGGG D"
  "EE FFFFFFFFFF GGGG D"
  "EE FFFFFFFFFF GGGG D"
  "HH FFFFFFFFFF II JJ D"
  "HH FFFFFFFFFF II JJ D"
  "HH FFFFFFFFFF II JJ D"
  "HH FFFFFFFFFF II JJ D"
  "HH LLLLLL MMM NNNNN D"
  "HH LLLLLL MMM NNNNN D"
  "KK LLLLLL PPP QQQQQ R"
  "KK LLLLLL PPP QQQQQ R"
  "KK OOOOOO SSS QQQQQ R"
  "KK OOOOOO SSS QQQQQ R"
  "KK OOOOOO TTTTTTTTT R";
  
 }

 .a {
  grid-area: 1/1/3/6;
  background: rgb(177,196,213);
 }
.b{
  grid-area: 1/6/3/11;
  background: rgb(234,234,236);
  position: relative;
}
.ab{
  position: absolute;
  width: 15px;
  height: 25px;
  background:rgb(234,234,236);
  left: -15px;
  top: 0;
}
.c {
  grid-area: 1/11/3/17;
  background: rgb(232,138,4);
  position: relative;
}
.ac{
  position: absolute;
  width: 15px;
  height: 15px;
  background:rgb(232,138,4);
  left: -15px;
  top: 0;
}
.d {
  grid-area: 1/17/13/18;
  background: rgb(177,196,213);
  position: relative;
}
.ad {
  position: absolute;
  width: 15px;
  height: 30px;
  background: rgb(232,138,4);
  left: -15px;
  top: 0;
}
.e {
  grid-area: 3/1/7/3;
  background: rgb(234,234,236);
  position: relative;
}
.ae {
  position: absolute;
  width: 10px;
  height: 15px;
  background: rgb(234,234,236);
  left: 0px;
  top: -15px;
}
.f {
  grid-area: 3/3/11/11;
  background: rgb(226,2,2);
}
.g {
  grid-area: 3/11/7/17;
  background: rgb(232,138,4);
}
.h {
  grid-area: 7/1/13/3;
  background: rgb(177,196,213);
  position: relative;
}
.ah {
  position: absolute;
  width: 10px;
  height: 15px;
  background: rgb(234,234,236);
  left: 0px;
  top: -15px;
}
.i {
  grid-area: 7/11/11/14;
  background: rgb(234,234,236);
}
.j {
  grid-area: 7/14/11/17;
  background: rgb(234,234,236);
}
.k {
  grid-area: 13/1/18/3;
  background:rgb(232,138,4);
  position: relative;
  
}
.ak {
  position: absolute;
  width: 7px;
  height: 15px;
  background: rgb(232,138,4);
  left: 0px;
  top: -15px;
}
.l {
  grid-area: 11/3/16/8;
  background:rgb(0,0,0);
}
.m {
  grid-area: 11/8/13/11;
  background:rgb(177,196,213);
}
.n {
  grid-area: 11/11/13/17;
  background:rgb(234,234,236);
}
.o {
  grid-area: 16/3/18/8;
  background:rgb(234,234,236);
  position: relative;
}
.ao{
  position: absolute;
  width: 15px;
  height: 20px;
  background: rgb(232,138,4);
  left: -15px;
  top: 61px;
}
.q {
  grid-area: 13/11/17/17;
  background:rgb(0,24,60);
}
.p {
  grid-area: 13/8/15/11;
  background:rgb(177,196,213);
}
.r {
  grid-area: 13/17/18/17;
  background:rgb(226,2,2);
}
.s {
  grid-area: 15/8/17/11;
  background:rgb(0,0,0)
}
.t {
  grid-area: 17/8/17/17;
  background:rgb(234,234,236);
}
.image {
  position: absolute ;
  left: 850px;
  top: 4px;
}