*{
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
}

.wrapper{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgb(22 160 133);
}

.card{
	border-radius: 5px;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 50px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	height: 460px;
	width: 600px;
	background-color: white;
	box-shadow:  0px 30px 70px 1px rgba(0,0,0,0.2);
	background-image: url(img/bicycle.png);
	background-size: contain;
	background-position: 0px 180px;
	background-repeat: no-repeat;

}

.header{
	width: 100%;
	height: 45px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: Roboto;
	text-transform: capitalize;
	font-weight: 800; 
	font-size: 20px;
	word-spacing: 0px; 


}

.account{
	justify-content: center;
	display: flex;
	width: 45px;
	height: 45px;
	border-style: solid;
	border-width: 1px;
	border-radius: 100%;
	border-color: rgb(220 220 220);
	padding: 5px;
}

.string{
	display: flex;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	margin-top: 15px;
	color:  rgb(170 170 170);
}

.order{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 110px;
	justify-content: space-between;
	margin-top: 45px;

}

.items{
	display: flex;
	font-family: Roboto;
	color:  rgb(110 110 110);
	text-transform: capitalize;
	flex-direction: column;
	font-size: 16px;
	font-weight: 500;
	justify-content: space-between;


}

.cost{
	display: flex;
	font-family: Roboto;
	color:  black;
	text-transform: capitalize;
	flex-direction: column;
	font-size: 20px;
	font-weight: 700;
	justify-content: space-between;
	align-items: flex-end;
}

.capital{
	text-transform:uppercase;
	font-size: 21px;
}

.velo{
	display: flex;
	width: 600px;
	height: 400px;
	overflow: hidden;
}