*{
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

.background{
	display: flex;
	justify-content: center;
	background: rgb(133 165 212);
	height: 100%;
	width: 100%;
}

.wrapper{
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	background: rgba(255 255 255);
	width: 900px;
	margin: auto;
	padding: 50px;
	box-shadow: -1px 10px 40px 1px rgba(0,0,0,0.5);
	
}

img {
	height: 80px;
	width: 80px;
}

.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.text{
	padding-right: 5%;
	padding-left: 5%;
	font-family: Roboto;
	font-size: small;
	text-align: center;
	color: rgb(167 167 167);
	line-height: 1.5;
	margin-top: 25px;
	
}

.headline{
	color: rgb(85 114 214);
	font-size: large;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Roboto;
	letter-spacing: 3px;
	margin-top: 50px;
}

.down{
	display: flex;
	flex-direction: row;
	margin-top: 25px;

}

.sign{
	display: flex;
	align-self: flex-start;
	font-size: small;
	font-family: Roboto;
	font-weight: bold;
	color: rgb(85 114 214);
}

.number{
	display: flex;
	align-self: flex-end; 
	font-size: x-large;
	font-family: Roboto;
	font-weight: bold;
	color: rgb(85 114 214);
}

.month{
	display: flex;
	align-self: flex-end; 
	font-family: Roboto;
	color: rgb(85 114 214);
	font-size: small;
}

